<!DOCTYPE html>
<html>
<head>
<!-- <meta charset="ISO-8859-1"> -->
<title>Secret Formula</title>

<!-- calling bootstrap CDN -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
<br>
<form method="get" action="forms">
<button type="Submit">Return to Forms</button>
</form>
<br><br><br>
<form method="post" action="editform">
Form Title: <input type="text" name="title" value="{{form.name}}">

<!-- <br><br>
End Date: <input type="date" name="enddate" value="{{form.dl}}">
 -->
 
<input type="hidden" name="id" value="{{form.key.urlsafe()}}">
<input type="hidden" name="type" value="1">
<button type="Submit">Save Changes</button>
<button type="Reset">Reset Changes</button>
</form>

<br><br><br>
<b>Questions</b><br>

<table class = "table">
{% for q in questions %}
<tr><td>
<form method="post" action="editform">
<input type="text" name="qtext" value="{{q.text}}">
<input type="radio" name="qtype" value="0" {% if q.type == 0 %}checked{% endif %}>Simple Text
<input type="radio" name="qtype" value="1" {% if q.type == 1 %}checked{% endif %}>Radio Button
<input type="radio" name="qtype" value="2" {% if q.type == 2 %}checked{% endif %}>Check Box
<input type="radio" name="qtype" value="3" {% if q.type == 3 %}checked{% endif %}>Rich Text
<br>
{% if q.type == 1 or q.type == 2 %}
Options (separate each option on a new line)<br>
<textarea class="FormElement" name="options" style="width: 300px; height: 100px;">{% for i in q.options %}{{i ~ "\n"}}{% endfor %}</textarea>
{% else %}
<input type="hidden" name="options" value="">
{% endif %}
<br>

<input type="hidden" name="id" value="{{form.key.urlsafe()}}">
<input type="hidden" name="qid" value="{{q.key.urlsafe()}}">
<input type="hidden" name="type" value="2">
<button type="Submit">Update Question</button>
</form>
</td></tr>
<tr></tr>
{% endfor %}
<tr></tr>
</table>

<form method="post" action="editform">
<input type="text" name="qt" value="New Question Text...">

<input type="hidden" name="qno" value="{{questions.count()}}">
<input type="hidden" name="id" value="{{form.key.urlsafe()}}">
<input type="hidden" name="type" value="3">
<button type="Submit">Add New Question</button>
</form>

<form method="post" action="editform">
<input type="hidden" name = "id" value = "{{form.key.urlsafe()}}">
<input type="hidden" name="type" value="4">
<button type = "Submit">Delete Form</button>
</form>


</body>
</html>