<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Secret Formula</title>
</head>
<body>
<br>
<form method="get" action="forms">
<button type="Submit">Return to Forms</button>
</form>
<br><br>
Displaying responses for form: {{form.name}} 
<br><br><br>

<table>
{% for q in qns %}
<th>{{q.qtext}}</th>
{% endfor %}
{% for i in tbl %}
<tr>
{% for j in i %}
<td>
{{j}}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>

<!-- Convert 2D python array into a html table -->
<!-- 
def gen_html(array):
	HTML=""
	row_count=1
	for line in array:
		TH=['pac'+str(row_count)]
		for word in line.split():
			TH.append( '<TH>'+word+'</TH>' )
		ROW="".join(th for th in TH)
		HTML+="<TR>"+ROW+"</TR>\n"
		row_count+=1
	return HTML

-->

</body>
</html>