<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Secret Formula</title>
</head>
<body>
<br>
<form method="get" action="forms">
<button type="Submit">Return to Forms</button>
</form>
<br><br>
Displaying responses for form: {{form.name}} 
<br><br><br>

<form method="post" action="viewresponse">
Key: <input type="text" name="key">
<input type="hidden" name="id" value="{{fid}}">
<br><input type="Submit" value="Decrypt Responses">
</form>

<table border="2">
{% for q in qns %}
<th>{{q.text}}</th>
{% endfor %}
{% for i in tbl %}
<tr>
{% for j in i %}
<td>
{{j}}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>

{% if not key %}
Enter the decryption key first!
{% endif %}

</body>
</html>